# ===============================
# Python cache
# ===============================
__pycache__/
*.pyc
*.pyo
*.pyd

# ===============================
# Jupyter cache
# ===============================
.ipynb_checkpoints/

# ===============================
# Media files
# ===============================
*.mp4

# ===============================
# Training cache / temporary
# ===============================
runs/
logs/
tmp/

# ===============================
# OS
# ===============================
.DS_Store
Thumbs.db
